
<!-- <ng-ais-search-box></ng-ais-search-box> -->
<ng-ais-instantsearch
  [config]="{
    apiKey: '8838f7ac716a69a19e3600156e93e8a1',
    appId: 'MDF6H13HEL',
    indexName: 'travel',
    urlSync: false
  }"
>
<ng-ais-search-box></ng-ais-search-box>
<ng-ais-refinement-list attribute="brand"></ng-ais-refinement-list>

  <ng-ais-hits>

    <ng-template let-hits="hits">
      <div *ngFor="let hit of hits">
        Hit {{hit.objectID}}:
        <ng-ais-highlight attribute="name" [hit]="hit">
        </ng-ais-highlight>
      </div>
    </ng-template>

  </ng-ais-hits>
</ng-ais-instantsearch>
